@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

.slide::-webkit-scrollbar {
  width: 12px; /* ความกว้างของ scrollbar */
  height: 12px; /* ความสูงของ scrollbar (สำหรับแนวนอน) */
}

.slide::-webkit-scrollbar-track {
  background: #f1f1f1; /* สีพื้นหลังของ scrollbar track */
  border-radius: 20px; /* ทำให้ scrollbar track มีขอบโค้ง */
}

.slide::-webkit-scrollbar-thumb {
  background-color: #ffb36b; /* สีของ scrollbar thumb */
  border-radius: 10px; /* ทำให้ scrollbar thumb มีขอบโค้ง */
  border: 2px solid #f1f1f1; /* ใส่ขอบรอบ thumb ให้ดูนุ่มนวล */
}

.slide::-webkit-scrollbar-thumb:hover {
  background-color: #ff912a; /* เปลี่ยนสี scrollbar thumb เมื่อ hover */
}



.checkbox-wrapper-63 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-63 *,
.checkbox-wrapper-63 ::after,
.checkbox-wrapper-63 ::before {
  box-sizing: border-box;
}

/* The switch - the box around the slider */
.checkbox-wrapper-63 .switch {
  font-size: 1rem;
  position: relative;
  display: inline-block;
  width: 4em;
  height: 2em;
}

/* The slider */
.checkbox-wrapper-63 .slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #eee;
  transition: 0.4s;
  border-radius: 0.5em;
  box-shadow: 0 0.2em #dfd9d9;
}

.checkbox-wrapper-63 .slider:before {
  position: absolute;
  content: "";
  height: 1.5em;
  width: 1.4em;
  border-radius: 0.3em;
  left: 0.3em;
  bottom: 0.7em;
  background-color: lightsalmon;
  transition: 0.4s;
  box-shadow: 0 0.4em #bcb4b4;
}

.checkbox-wrapper-63 .slider:hover::before {
  box-shadow: 0 0.2em #bcb4b4;
  bottom: 0.5em;
}

.checkbox-wrapper-63 input:checked + .slider::before {
  transform: translateX(2em);
  background: lightgreen;
}
